[
    {rabbit, [
        {log, [
            {console, [{enabled, true}, {level, debug}]},
            {file, [{level, debug}]}
        ]},
        {loopback_users, []},
        {ssl_handshake_timeout, 100000},
            {tcp_listeners, [5672]},
            {ssl_listeners, [5671]},
            {ssl_options, [
                {cacertfile, "/home/lbakken/issues/stack-overflow/tls-trust-store-55179047/certs_1/ca_certificate.pem"},
                {certfile,   "/home/lbakken/issues/stack-overflow/tls-trust-store-55179047/certs_1/server_certificate.pem"},
                {keyfile,    "/home/lbakken/issues/stack-overflow/tls-trust-store-55179047/certs_1/server_key.pem"},
                {verify, verify_peer},
                {fail_if_no_peer_cert, true},
                {reuse_sessions, false}
           ]},
        {default_pass, <<"guest">>},
        {default_user, <<"guest">>},
        {default_vhost, <<"/">>},
        {hipe_compile, false}
    ]},
    {rabbitmq_management, [
        {listener, [
            {port, 15671},
            {ssl, true},
            {ssl_opts, [
                {cacertfile, "/home/lbakken/issues/stack-overflow/tls-trust-store-55179047/certs_1/ca_certificate.pem"},
                {certfile,   "/home/lbakken/issues/stack-overflow/tls-trust-store-55179047/certs_1/server_certificate.pem"},
                {keyfile,    "/home/lbakken/issues/stack-overflow/tls-trust-store-55179047/certs_1/server_key.pem"},
                {fail_if_no_peer_cert, false},
                {verify, verify_peer}
           ]}
        ]}
    ]},
    {rabbitmq_mqtt, [
        {vhost, <<"/">>},
        {exchange, <<"amq.topic">>},
        {default_user, <<"guest">>},
        {default_pass, <<"guest">>},
        {tcp_listeners, [1883]},
        {ssl_listeners, [8883]}
    ]},
    {rabbitmq_trust_store, [
         {directory,        "/home/lbakken/issues/stack-overflow/tls-trust-store-55179047/ca_certs"}, 
         {refresh_interval, {seconds, 30}},
         {log_levels, [
            {connection, debug},
            {channel, debug},
            {federation, debug}
        ]}
   ]}
].
